@using EntertainmentHub.Web.ViewModels.Reviews
@model ReviewPaginatedListViewModel

@{
    this.ViewData["Title"] = "All";
}

<link rel="stylesheet" type="text/css" href="~/css/style.css" asp-append-version="true"/>
<link rel="stylesheet" type="text/css" href="~/css/Rev.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/list.css" type="text/css" media="all" asp-append-version="true" />

<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a><i class="fa fa-forward"></i></li>
            <li><a asp-controller="Movies" asp-action="Collection">Movies</a><i class="fa fa-forward"></i></li>
            <li><a asp-action="All">Reviews</a><i class="fa fa-forward"></i></li>
            <li><a>@this.ViewData["Title"]</a><i class="fa fa-forward"></i></li>
            <li class="active">@Model.Movie.Title</li>
        </ul>
    </div>
</div>
<hr />

<div class="single_column_wrapper">
    <div class="single_column">
        <section class="header small">
            <div class="text-div">
                <a> <img class="rev-img" src="@Model.Movie.Poster" alt=" "></a>
                <div class="inner-div">
                    <span class="text-st">
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Movie.Id">@Model.Movie.Title</a>
                    </span>
                    <span>@Model.Movie.ReleaseDate.Year</span>
                </div>
                <div class="my-rating-7" style="display: flex" movie-rate="@Model.Movie.Rating"></div>

                <h3 class="back-st"><a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Movie.Id">←Back to movie</a></h3>
            </div>
        </section>
    </div>
</div>
<hr />


<div class="review-box">
    
    <div class="w3ls-news-result">
        <h4>Count: <span>@Model.PageResults() / @(Model.TotalCount)</span></h4>
        <h4>Current Page: <span>@Model.Reviews.Count()</span></h4>
    </div>
    @foreach (var review in Model.Reviews.Where(x => !string.IsNullOrWhiteSpace(x.Content)))
    {
        <div class="review-single">
            <div class="w3l-recent-grid" style="background: #e9ecec">
                <div class="wom">
                    @if (review.AvatarPath is not null && review.AvatarPath.Contains("gravatar"))
                    {
                        <a><img src="@review.AvatarPath" alt=" " class="img-responsive"></a>
                    }
                    else
                    {
                        <a><img style="height: 110px" src="/images/no-avatar.png" alt=" " class="img-responsive"></a>
                    }
                </div>
                <div class="wom-right">
                    <h5>
                        <a>Review by @review.AuthorName</a>
                    </h5>
                    <ul class="w3l-sider-list">
                        <li><i class="fa fa-user" aria-hidden="true"></i>Username: @review.AuthorUsername</li>
                    </ul>
                    <p>@review.Content</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <hr />
        </div>
    }
</div>

@if (Model.Reviews.TotalPages > 1)
{
    <div class="blog-pagenat-wthree">
        <ul class="pagination">
            <li>
                @if (Model.Reviews.HasPreviousPage)
                {
                    <a class="page-link frist" asp-action="All" asp-route-id="@Model.Movie.Id" asp-route-page="@(Model.Reviews.PageNumber - 1)">Previous</a>
                }
                else
                {
                    <a class="dis-field frist">Previous</a>
                }
            </li>
            @for (int i = Model.Reviews.PageNumber - 4; i < Model.Reviews.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li><a class="page-link" asp-action="All" asp-route-id="@Model.Movie.Id" asp-route-page="@i">@i</a></li>
                }
            }
            <li class="active">
                <span class="page-link">@Model.Reviews.PageNumber</span>
            </li>
            @for (int i = Model.Reviews.PageNumber + 1; i <= Model.Reviews.PageNumber + 4; i++)
            {
                if (i <= Model.Reviews.TotalPages)
                {
                    <li><a class="page-link" asp-action="All" asp-route-id="@Model.Movie.Id" asp-route-page="@i">@i</a></li>
                }
            }
            <li>
                @if (Model.Reviews.HasNextPage)
                {
                    <a class="page-link frist" asp-action="All" asp-route-id="@Model.Movie.Id" asp-route-page="@(Model.Reviews.PageNumber + 1)">Next</a>
                }
                else
                {
                    <a class="dis-field frist">Next</a>
                }
            </li>
        </ul>
    </div>
}

<script>
    $(".my-rating-7").starRating({
        totalStars: 6,
        starSize: 35,
        strokeColor: 'black',
        emptyColor: 'lightgray',
        starShape: 'rounded',
        initialRating: @Model.Movie.Rating,
        readOnly: true,
    });
</script>