@using EntertainmentHub.Data.Models
@using Microsoft.AspNetCore.Identity
@using EntertainmentHub.Web.ViewModels.Movies
@inject UserManager<ApplicationUser> UserManager
@model MovieDetailsPaginatedViewModel

@{
    this.ViewData["Title"] = "Details";
    var user = await this.UserManager.GetUserAsync(this.User);
    var userId = user is not null ? await this.UserManager.GetUserIdAsync(user) : "";
}

<link rel="stylesheet" href="~/css/list.css" type="text/css" media="all" />

<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a><i class="fa fa-forward"></i></li>
            <li><a asp-action="Collection">Movies</a><i class="fa fa-forward"></i></li>
            <li><a>@this.ViewData["Title"]</a><i class="fa fa-forward"></i></li>
            <li class="active">@Model.Movie.Title</li>
        </ul>
    </div>
</div>

<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        <div class="inner-agile-w3l-part-head">
            <h3 class="w3l-inner-h-title">@Model.Movie.Title</h3>
            <br />
            <p class="w3ls_head_para"><strong>@Model.Movie.Tagline</strong></p>
            <hr />
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="my-rating-5"></div>
                <span class="live-rating"></span>
                <br />
                <span id="averageRate">@Model.Movie.Rating.ToString("f2")</span><span> / 6.00</span>
                <br />
                <input id="Btn" type="button" class="btn btn-danger" value="Remove Rate"/>
                <div style="display: none" id="success-msg" class="alert alert-success">You successfully revoked your rating.</div>
                <div style="display: none" id="danger-msg" class="alert alert-danger">You haven't rated this movie.</div>
            }
            else
            {
                <div class="my-rating-7"></div>
                <span id="averageRate">@Model.Movie.Rating.ToString("f2")</span><span> / 6.00</span>
            }
        </div>

        <div class="latest-news-agile-info">
            <div class="col-md-8 latest-news-agile-left-content">
                <div class="single video_agile_player">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <div data-video="@Model.Movie.Trailer" id="video"> <img src="@Model.Movie.Poster" class="img-responsive" /></div>
                        </div>
                        <div class="active">
                            <p class="text-left movie-tab"><strong class="str-col">Year: </strong>@Model.Movie.ReleaseDate.Year</p>
                            <p class="text-left movie-tab"><strong class="str-col">Status: </strong>@Model.Movie.Status</p>
                            <p class="text-left movie-tab"><strong class="str-col">Length: </strong> @Model.Movie.Runtime min </p>
                            <p class="text-left movie-tab"><strong class="str-col">Director: </strong>@Model.Movie.Director</p>
                            <p class="text-left movie-tab"><strong class="str-col">IMDB: </strong><a href="@Model.Movie.IMDBLink" target="_blank">Link to IMDB</a> </p>
                            <p class="text-left movie-tab"><strong class="str-col">Genre: </strong>@Model.Movie.Genres</p>
                            <p class="text-left movie-tab"><strong class="str-col">Language: </strong>@Model.Movie.Languages</p>
                            <p class="text-left movie-tab"><strong class="str-col">Country: </strong>@Model.Movie.Countries</p>
                            <p class="text-left movie-tab"><strong class="str-col">Budget: </strong>$@Model.Movie.Budget.ToString("N0")</p>
                            <p class="text-left movie-tab"><strong class="str-col">Revenue: </strong>$@Model.Movie.Revenue.ToString("N0")</p>
                            <p class="text-left movie-tab"><strong class="str-col">Popularity: </strong>@Model.Movie.Popularity.ToString("f2")</p>
                            <p class="text-left movie-tab"><strong class="str-col">Description: </strong> @Model.Movie.Description</p>
                        </div>
                    </div>
                    <br />
                    <hr />
                </div>

                <h4 class="side-t-w3l-agile">Main <span>Actors</span></h4>
                <div class="w3_agile_latest_movies">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        @foreach (var actor in Model.Movie.MovieActors)
                        {
                            if (actor.ActorPhoto.Contains("png") || actor.ActorPhoto.Contains("jpg") || actor.ActorPhoto.Contains("jpeg"))
                            {
                                <di class="item">
                                    <div class="w3l-movie-gride-agile w3l-movie-gride-slider ">
                                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId" class="hvr-sweep-to-bottom">
                                            <img src="@actor.ActorPhoto" title="@actor.ActorName" class="img-responsive" alt=" " />
                                        </a>
                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                            <div class="w3l-movie-text">
                                                <h6><a style="font-weight:bold" asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId">@actor.ActorName</a></h6>
                                                <br>
                                                <h6><a>@actor.CharacterPlayed</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </di>
                            }
                        }
                    </div>
                </div>

                <div class="response">                 
                    <h4>Comments</h4>
                    @if (!Model.Comments.Any())
                    {
                        <h5 style="font-weight: 600">No comments for this movie yet.</h5>
                    }
                    else
                    {
                        <div class="w3ls-news-result">
                            <h4>Comments Count: <span>@Model.TotalCount</span></h4>
                        </div>

                        @foreach (var comment in Model.Comments)
                        {
                            <div class="admin-text">
                                <h5>COMMENT BY @comment.UserUsername</h5>
                                <div class="admin-text-left">
                                    <a>
                                        @if (comment.UserUsername == "Admin")
                                        {
                                            <img class="media-object" src="/images/admin-avatar.png" alt="">
                                        }
                                        else
                                        {
                                            <img class="media-object" src="/images/no-avatar.png" alt="">
                                        }
                                    </a>
                                </div>
                                <p class="content-st">@comment.CommentContent</p>
                                <div class="admin-text-right">
                                    <ul style="list-style: none">
                                        <li>
                                            <p>@comment.CommentCreatedOn.ToString("MM/dd/yyyy h:mm tt")</p>
                                        </li>
                                        @if (this.User.Identity.IsAuthenticated)
                                        {
                                            <li>
                                                <a style="cursor: not-allowed"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        }
                    }
                    <br />

                    @if (Model.Comments.TotalPages > 1)
                    {
                        <div class="blog-pagenat-wthree">
                            <ul class="pagination">
                                <li>
                                    @if (Model.Comments.HasPreviousPage)
                                    {
                                        <a class="page-link frist" asp-action="Details" asp-route-id="@Model.Movie.Id" asp-route-page="@(Model.Comments.PageNumber - 1)">Previous</a>
                                    }
                                    else
                                    {
                                        <a class="dis-field frist">Previous</a>
                                    }
                                </li>
                                @for (int i = Model.Comments.PageNumber - 4; i < Model.Comments.PageNumber; i++)
                                {
                                    if (i > 0)
                                    {
                                        <li><a class="page-link" asp-action="Details" asp-route-id="@Model.Movie.Id" asp-route-page="@i">@i</a></li>
                                    }
                                }
                                <li class="active">
                                    <span class="page-link">@Model.Comments.PageNumber</span>
                                </li>
                                @for (int i = Model.Comments.PageNumber + 1; i <= Model.Comments.PageNumber + 4; i++)
                                {
                                    if (i <= Model.Comments.TotalPages)
                                    {
                                        <li><a class="page-link" asp-action="Details" asp-route-id="@Model.Movie.Id" asp-route-page="@i">@i</a></li>
                                    }
                                }
                                <li>
                                    @if (Model.Comments.HasNextPage)
                                    {
                                        <a class="page-link frist" asp-action="Details" asp-route-id="@Model.Movie.Id" asp-route-page="@(Model.Comments.PageNumber + 1)">Next</a>
                                    }
                                    else
                                    {
                                        <a class="dis-field frist">Next</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    }                        

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="all-comments-info">
                            <h5>LEAVE A COMMENT</h5>

                            <div class="agile-info-wthree-box">
                                <form asp-controller="Comments" asp-action="CreateComment" method="post">
                                    <div class="col-md-6 form-info">
                                        <textarea name="Content" placeholder="Message" required=""></textarea>
                                        <input type="submit" value="Comment">
                                    </div>
                                    <div class="col-md-6 form-info">
                                        <input type="hidden" name="MovieId" value="@Model.Movie.Id">                                   
                                        <input type="hidden" name="UserId" value="@userId">                                    
                                    </div>
                                    <div class="clearfix"> </div>
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {
                        <hr />
                        <div class="px-4 pt-3">
                            <a class="login" asp-area="Identity" asp-page="/Account/Login">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                Sign in so you can write a comment !
                            </a>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-4 latest-news-agile-right-content">
                <h4 class="side-t-w3l-agile">Movie <span>Reviews</span></h4>
                @if (!Model.Movie.MovieReviews.Any())
                {
                    <h5 style="font-weight: 600">There aren't any reviews for this movie !</h5>
                }
                else
                {
                    @foreach (var review in Model.Movie.MovieReviews.Where(x => !string.IsNullOrWhiteSpace(x.Content)).Take(4))
                    {
                        <div class="w3l-recent-grid" style="background: #e9ecec">
                            <div class="wom">
                                @if (review.AvatarPath is not null && review.AvatarPath.Contains("gravatar"))
                                {
                                    <a><img src="@review.AvatarPath" alt=" " class="img-responsive"></a>
                                }
                                else
                                {
                                    <a><img src="/images/no-avatar.png" alt=" " class="img-responsive"></a>
                                }
                            </div>
                            <div class="wom-right">
                                <h5>
                                    <a asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id" asp-route-movieId="@review.MovieId">Review by @review.AuthorName</a>
                                </h5>
                                <ul class="w3l-sider-list">
                                    <li><i class="fa fa-user" aria-hidden="true"></i>Username: @review.AuthorUsername</li>
                                </ul>
                                <p>
                                    @if (review.Content.Length > 250)
                                    {                               
                                        @string.Concat(review.Content.Substring(0, 250), "...")
                                        <a asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id" asp-route-movieId="@review.MovieId" style="text-decoration: underline">Read the rest</a>
                                    }
                                    else
                                    {
                                        @review.Content        
                                    }
                                </p>                               
                            </div>
                            <div class="clearfix"> </div>
                        </div>  
                        <hr />
                    }
                    @if (Model.Movie.MovieReviews.Where(x => !string.IsNullOrWhiteSpace(x.Content)).Count() > 4)
                    {
                        <div class="px-4 pt-3" style="text-align: center">
                            <a class="login" asp-controller="Reviews" asp-action="All" asp-route-id="@Model.Movie.Id">View all reviews</a>
                        </div>
                    }
                }         
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts{
    <script>
        function returnRate () {
            let result = 0;
            let id = @Model.Movie.Id;

            $.ajax({
                url: "/api/Ratings",
                async: false,
                data: { id : id },
                dataType: 'json',
                success: function (data) {
                    result = data;    
                },
            });

            return result;
        };
    </script>

    <script>               
        var averageRate = returnRate();

        $(".my-rating-5").starRating({
              totalStars: 6,
              useFullStars: true,
              starSize: 35,
              strokeWidth: 16,
              initialRating: averageRate,
              strokeColor: 'black',
              emptyColor: 'lightgray',
              starShape: 'rounded',
              starGradient: {
                  start: '#93BFE2',
                  end: '#105694'
              },
            onHover: function (currentIndex, currentRating, $el) {
                $('.live-rating').text(currentIndex);
            },
            onLeave: function (currentIndex, currentRating, $el) {
                $('.live-rating').text(currentRating);
            },
            callback: function(currentRating, $el){
                $(this).click(function () {
                    let rate = currentRating;
                    let movieId = @Model.Movie.Id;
                    var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();

                    let data = { 
                        rate: currentRating,
                        movieId: movieId,
                    };

                    $.ajax({
                        type: "Post",
                        url: "/api/Ratings",
                        data: JSON.stringify(data),
                        headers: {
                            'X-CSRF-TOKEN': antiForgeryToken
                        },
                        success: function () {
                            console.log(returnRate());
                            $('#averageRate').html(returnRate().toFixed(2));
                        },
                        contentType: 'application/json',
                    })
                })
            }
        });
    </script>

    <script>     
            $('#Btn').click(function () {
                let movieId = @Model.Movie.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();

                $.ajax({
                    type: 'DELETE',
                    url: '/api/Ratings',
                    data: JSON.stringify({ movieId: movieId }),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (success) {
                        if (success === true) {
                            $('#danger-msg').hide();
                            $('#success-msg').show().delay(4000).fadeOut();;

                            var averageRate = returnRate();
                            $('#averageRate').html(averageRate.toFixed(2));
                        } else {
                            $('#success-msg').hide();
                            $('#danger-msg').show().delay(4000).fadeOut();;
                        }                    
                    },
                });
            });
    </script>

    <script>
        $(".my-rating-7").starRating({
            totalStars: 6,
            starSize: 35,
            strokeColor: 'black',
            emptyColor: 'lightgray',
            starShape: 'rounded',
            initialRating: @Model.Movie.Rating,
            readOnly: true,
        });
    </script>
}