@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/material-design-iconic-font.min.css"/>
<link rel="stylesheet" type="text/css" href="~/css/reg-log-style.css"/>

<div class="container">
    <div class="signup-content">
        <div class="form-group">
            <ul class="back-to-home">
                <li class="form-submit submit"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            </ul>
        </div>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="signup-form" class="signup-form">
            <h2>@ViewData["Title"]</h2>
            <p class="desc"><span>Sign up to our platform so you can enjoy life :]</span></p>
    
            <div class="form-group">
                <input asp-for="Input.Username" type="text" class="form-input" placeholder="Username..." />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Email" type="email" class="form-input" placeholder="Email..." />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <input asp-for="Input.City" type="text" class="form-input" placeholder="City..." />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" type="password" class="form-input" id="password" placeholder="Password..." />
                <span toggle="#password" class="zmdi field-icon toggle-password zmdi-eye-off"></span>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">             
                <input asp-for="Input.ConfirmPassword" type="password" class="form-input" id="confPassword" placeholder="Confirm Password..." />
                <span toggle="#confPassword" class="zmdi field-icon toggle-password zmdi-eye-off"></span>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
                  
            <div class="form-group">
                <input type="submit" name="submit" id="submit" class="form-submit submit" value="Register" />
                <a asp-area="Identity" asp-page="/Account/Login" asp-for"" class="submit-link submit">Login</a>
            </div>
        </form>
    </div>
 
    @*<div class="row">
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@
</div>


<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/js/main.js"></script>
